
.all-products-container .filter-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    margin: 0 100px;
    background-color: #D9D9D9;
    
}

.all-products-container .filter-button div{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 200px; */
    height: 40px;    
    border: 2px solid #313131;
    background-color: #efefef;
    border-radius: 4px;
    
}

.all-products-container .filter-button div select {
    height: 36px;
    width: 90px;
    border: 2px solid #313131;
    background-color: #efefef;
    border-radius: 4px;
    text-align: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    border: none;
    
}


.all-products-container .filter-button div label p{ 
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* .all-products-container .filter-button div select svg{
    margin: 0px;
    border: 2px solid #313131;
    padding-right: 5px;
}
 */


/* 

.all-products-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.all-products-container header span strong{
    color: #251FC5;
}

.all-products-container header img{
    height: 64px;
}

.all-products-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.all-products-container header button{
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #DCDCE6;
    margin-left: 16px;
    transition: border-color 0.5s;
}

.all-products-container header button:hover{
    border-color: #251FC5;
}

.all-products-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}
 */
.all-products-container ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:115px ;
    list-style: none;
    align-items: center;
    padding: 50px 150px ;
    margin: 0 100px;
    background-color: #D9D9D9;
    
}

.all-products-container ul li{
    width: 240px;
    height: 272px;
    background: #efefef;  
    border-radius:  4px 4px 0px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
    /* border: 2px solid #313131; */
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); */
    border: 1px solid #313131;
    box-shadow: 0px 0px 1px 1px  rgba(0, 0, 0, 0.5);
}

.all-products-container ul li img{
    padding-left: 0px;
    width: 215px;
    height: 215px;
    margin: 10px;
}

.all-products-container ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    height: 40px;
    width: 240px;
    margin-top: 13px;
    
}

.all-products-container ul li button {
    width: 60px;
    height: 60px;
    padding: 15px;
    /* margin-left: 30px; */
    background-color: #efefef;  
    /* border: 1px solid #313131;
    box-shadow: 0px 0px 0px 1px  rgba(0, 0, 0, 0.5); */
    border: 1px solid #313131;
    box-shadow: 0px 0px 1px 1px  rgba(0, 0, 0, 0.5);
}

.all-products-container ul li .last-button {
    border-radius: 0 0 4px 0;
    width: 57px;
    border: 1px solid #313131;
    background-color: #efefef;
    box-shadow: 0px 0px 1px 1px  rgba(0, 0, 0, 0.5);
}



.all-products-container ul li strong{
    display: block;
    margin-top: 10px;
    margin-right: 120px;
    color: #000000;
    font-size: 16px;
}


.all-products-container ul li p {
    width: 180px;
    height: 60px;
    color: #000000;
    line-height: 21px;
    font-size: 16px;
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #313131;
    box-shadow: 0px 0px 1px 1px  rgba(0, 0, 0, 0.5);
    border-radius: 0 0 0 4px;
}

