.login-container {
    padding: 5% 25%;
    width: 100%;
    height: 100vh;
   
    background-color: #004F3C;
}

.login-container .form {
    height: 650px;
    width: 900px;
  /*   display: flex;
    align-items: center;
    flex-direction: column; */
    background-color: #ececec;
    border-radius: 16px;
    padding-top: 60px;
}

.login-container .form form{

    display: flex;
    align-items: center;
    flex-direction: column;

}


.login-container .form h1{
   text-align: center;
   font-size: 28px;
   border-radius: 8px;
   background-color: #d7d7d7;
   border: 2px solid #313131;
   font-weight: 500;
   height: 70px;
   width: 300px;
   margin-bottom: 70px;
   padding: 20px;

}

.login-container .form form div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-container .form form h2{
    padding-right: 20px;
    padding-top: 15px;
    font-size: 16px;
}

.login-container .form form .checkbox h3{
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 60px;
}



.login-container .form form input{
    background-color: #d7d7d7;
    border: 1px solid #313131;
    box-shadow: 0px 0px 0px 1px  rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-left: 10px;
    height: 30px;
}

.login-container .form form .checkbox input{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.login-container .form form button{
    background-color: #004F3C;
    border-radius: 8px;
    color: #efefef;
    width: 280px;
    height: 70px;
    font-weight: bold;
    font-size: 24px;
    border: none;
}

.login-container .form form .create-account{
    width: 240px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}


