.profile-settings-container {
  display: flex;
  flex-direction: row;
  height: 850px;
  padding: 0px 220px;
  margin: 0 100px;
  background-color: #d9d9d9;
  padding-top: 50px;
}

.profile-settings-container .settings-menu {
  border: 2px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 220px;
  margin-right: 50px;
  height: 250px;
}

.profile-settings-container .settings-menu h2{
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}

.profile-settings-container .menu-sections {
  border: 2px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  border-radius: 4px;
  width: 880px;
  padding: 20px;
}

.profile-settings-container .menu-sections .my-profile h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.profile-settings-container .menu-sections .my-profile .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-settings-container .menu-sections .my-profile .row h4{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.profile-settings-container .menu-sections .my-profile .row input{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

.profile-settings-container .menu-sections .conf-email h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .conf-email h4{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.profile-settings-container .menu-sections .conf-email button{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100px;
  height: 30px;
}

.profile-settings-container .menu-sections .change-email h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 20px;
}

.profile-settings-container .menu-sections .change-email .row{
  display: flex;
  flex-direction: row;
}

.profile-settings-container .menu-sections .change-email h4{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.profile-settings-container .menu-sections .change-email input{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

.profile-settings-container .menu-sections .change-pass h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .change-pass .row{
  display: flex;
  flex-direction: row;
}

.profile-settings-container .menu-sections .change-pass h4{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.profile-settings-container .menu-sections .change-pass input{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

.profile-settings-container .menu-sections .change-name h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .change-name .row{
  display: flex;
  flex-direction: row;
}

.profile-settings-container .menu-sections .change-name h4{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.profile-settings-container .menu-sections .change-name input{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 40px;
}

.profile-settings-container .menu-sections .row {
  display: flex;
  flex-direction: row;
}

.profile-settings-container .menu-sections .row .my-orders {
  padding-right: 115px;
}

.profile-settings-container .menu-sections .row .my-addresses {
  padding-right: 80px;
}

.profile-settings-container .menu-sections .row .my-orders h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .row .my-orders button{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100px;
  height: 30px;
}

.profile-settings-container .menu-sections .row .my-addresses h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .row .my-addresses button{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 140px;
  height: 30px;
}

.profile-settings-container .menu-sections .row .delete h3{
  color: #004F3C;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-top: 30px;
}

.profile-settings-container .menu-sections .row .delete button{
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #313131;
  box-shadow: 0px 0px 1px 1px #313131;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
}

 .profile-settings {
  color: #FFFFFF;
  background-color: #004F3C;
  height: 50px;
  padding-top: 15px;
  font-size: 18px;
  width: 100%;
  padding-left: 18%;
}
